.CRUQBasicPage {}
.search_form {}
.search_item {
    padding: 10px 0 0 10px;
    display: inline-block;
}

.easyui-dialog {
    padding: 20px;
}
.easyui-form {
    width: 100%;
}
.form_item label {
    font-size: 1em;
}

.form_item_control {
    display: inline-block;
    width: auto;
}
