.edit-panel {
    padding: 2px !important;
}
.edit_form_item {
    padding-bottom:unset !important;
}
.textbox-text{
    font-size: 20px !important;
}

#wrap {
    width: 100%;
    height: 75%;
    /* margin: 10px auto; */
    /* padding-top: 10px; */
    /* border: 1px solid #ccc; */
    /* border-top: unset; */
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ccc;
    font: 14px/1.5 "微软雅黑";
    list-style: none;
    cursor: move;
    height: 170px;
}

    li:hover {
        background-color: #f6f6f6;
    }

#wrap img {
    width: 100px;
    height: 100px;
}

#wrap .headimg {
    width: 60px !important;
    height: 60px !important;
}

#wrap p {
    margin: unset !important;
}
.textbox-readonly{
    border:none;
}
.ibox-content{
    padding-top:0;
}


/* li 标签中的样式 */
.ls_container {
    width: 100%;
    height: fit-content;
    min-height: 75px;
    margin-top: 5%;
}

.ls_head {
    width: 7%;
    float: left;
    text-align: center;
}
.ls_content {
    width: 80%;
    margin-left: 9%;
    margin-top: -5%;
    height:100px;
}
.ls_button {
    /* margin-left: 88%; */
    margin-top: 20px;
    text-align: center;
}
    .ls_button img {
        width: 24px !important;
        height: 24px !important;
        margin-left: 10px;
    }
    .ls_button img:hover {
        cursor:pointer;
    }

audio:focus, audio:active audio:active:focus{
    outline: none;
}

.img_status {
    position: absolute;
    width: 70px !important;
    height: 70px !important;
    right: 0;
    margin-right: 3%;
    float: right;
    margin-top: -125px;
    vertical-align: middle;
}

textarea {
    min-width: 95%;
    min-height: 100px;
    border: none;
    resize: none;
    padding: 10px;
}

.btn_up{

}
.btn_down{

}
.btn_accept{

}
.btn_deny{

}

/* li 标签中的样式 */
marquee {
    position: absolute;
    margin-right: 50%;
    margin-left: 50px;
}
.mt textarea:focus,
.mt textarea:active,
.mt textarea:active:focus{
    outline:none;
}