ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}

.step-region {
    position: relative;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.ui-step {
    padding: 14px 0 8px 0;
    zoom: 1
}

    .ui-step:after {
        content: "";
        display: table;
        clear: both
    }

    .ui-step li {
        float: left;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center
    }

        .ui-step li::before, .ui-step li::after {
            position: absolute;
            left: 0;
            top: 36px;
            display: block;
            content: ' ';
            width: 50%;
            height: 4px;
            background: #999;
            z-index: 1
        }

        .ui-step li::after {
            left: 50%
        }

        .ui-step li:first-child::before {
            width: 0
        }

        .ui-step li:last-child::after {
            width: 0
        }

    .ui-step .ui-step-title {
        color: #999;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px
    }

    .ui-step .ui-step-number {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 10px 0;
        line-height: 22px;
        background: #999;
        color: #fff;
        border-radius: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 2
    }

    .ui-step .ui-step-meta {
        color: #ccc
    }

    .ui-step li.ui-step-done::before,
    .ui-step li.ui-step-done::after,
    .ui-step li.ui-step-done .ui-step-number {
        background: #1ab394
    }

    .ui-step li.ui-step-done .ui-step-number {
        color: transparent
    }

        .ui-step li.ui-step-done .ui-step-number::after {
            position: absolute;
            left: 0;
            width: 17px;
            height: 20px;
            line-height: 22px;
            content: '√';
            color: #fff;
            font-family: serif
        }

    .ui-step li.ui-step-done .ui-step-title {
        color: #1ab394
    }

.ui-step-2 li {
    width: 50%
}

.ui-step-3 li {
    width: 33.33333%
}

.ui-step-4 li {
    width: 24.9999%
}

.ui-step-5 li {
    width: 15%
}

.package-status {
    padding: 18px 0 0 0
}

    .package-status .status-list {
        margin: 0;
        padding: 0;
        margin-top: -5px;
        padding-left: 8px;
        list-style: none;
    }

        .package-status .status-list li {
            border-left: 2px solid #d9d9d9;
            text-align: left;
        }

            .package-status .status-list li:before { /* 流程点的样式 */
                content: '';
                border: 3px solid #f3f3f3;
                background-color: #d9d9d9;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                margin-left: -9px;
                margin-right: 10px
            }

        .package-status .status-list .latest:before {
            background-color: #0dad12;
            border-color: #f8e9e4;
        }

    .package-status .status-box {
        overflow: hidden
    }

    .package-status .status-list li {
        height: auto;
    }

    .package-status .status-list {
        margin-top: -8px
    }

    .package-status .status-box {
        position: relative
    }

        .package-status .status-box:before {
            content: " ";
            background-color: #f3f3f3;
            display: block;
            position: absolute;
            top: -8px;
            left: 20px;
            width: 10px;
            height: 4px
        }

    .package-status .status-list {
        margin-top: 0px;
    }

/* .package-status .status-list .latest{border:none} */

/* .package-status .status-list li{margin-bottom:-2px} */







.status-list li:not(:first-child) {
    padding-top: 10px;
}



.status-content-before {
    text-align: left;
    margin-left: 25px;
    margin-top: -20px;
}

.status-content-latest {
    text-align: left;
    margin-left: 25px;
    color: green;
    margin-top: -20px;
}

.status-time-before {
    qqqqqqqqq text-align:left;
    margin-left: 25px;
    font-size: 10px;
    margin-top: 5px;
}

.status-time-latest {
    text-align: left;
    margin-left: 25px;
    color: green;
    font-size: 10px;
    margin-top: 5px;
}

.status-line {
    border-bottom: 1px solid #ccc;
    margin-left: 25px;
    margin-top: 10px;
}
