<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <!--添加扩展Exceptionless程序集-->
    <add assembly="Exceptionless.NLog"/>
  </extensions>
  <targets>
    <!--上报Exceptionless-->
    <!--xsi:type:固定是Exceptionless-->
    <!--apiKey:即我们在Exceptionless中添加完项目后得到的apiKey-->
    <!--serverUrl:Exceptionless的地址-->
    <target xsi:type="Exceptionless" name="Exceptionless">
      <!--堆栈信息-->
      <field name="StackTrace" layout="${stacktrace}"/>
      <!--Message信息-->
      <field name="Message" layout="${message}"/>
      <field name="LogLevel" layout="${level}"/>
      <field name="CreateDate" layout="${date}"/>
      <!--物理名称-->
      <field name="MachineName" layout="${machinename}" />
      <!--线程ID-->
      <field name="ThreadId" layout="${threadid}"/>
      <!--发生源-->
      <field name="CallSite" layout="${callsite}"/>
      <field name="AppdomainVersion" layout="${assembly-version}"/>
      <field name="Appdomain" layout="${appdomain}"/> 
    </target>
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}.log"
    layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level}|${message} ${exception:format=ToString,StackTrace}${newline}"
            maxArchiveFiles="2"
            enableFileDelete="true"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            archiveFileName="logs/${date:format=yyyy-MM-dd}-{##}.log"
            />
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${callsite:className=true:fileName=false:includeSourcePath=true:methodName=true}|${level}|${message}" />
    <target name="dingtalk" type="Dingtalk" atmobiles="@18354202086,@18563920971" layout="### 消息提示 ${event-properties:AtMobiles} ${newline}${newline} 记录时间：${date:format=yyyy-MM-dd HH\:mm\:ss.fff}${newline}${newline} 信息描述：${message} ${exception:format=ToString}" host="https://oapi.dingtalk.com/robot/send?access_token=497f0072a375e881faefb8f32cff2fa4a125b6a65840ca777d56aefb522499fe" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="dingtalk,Exceptionless" />
    <logger name="*" minlevel="Trace" writeTo="logfile,console" />
  </rules>
</nlog>