src/YTS.Cache/YTS.Cache.csproj
src/YTS.CodingSupportLibrary/YTS.CodingSupportLibrary.csproj
src/YTS.CodingSupportLibrary.Test/YTS.CodingSupportLibrary.Test.csproj
src/YTS.Command.FileRecognition/YTS.Command.FileRecognition.csproj
src/YTS.ConsolePrint/YTS.ConsolePrint.csproj
src/YTS.Git/YTS.Git.csproj
src/YTS.Git.Test/YTS.Git.Test.csproj
src/YTS.ImageDownload/YTS.ImageDownload.csproj
src/YTS.Log/YTS.Log.csproj
src/YTS.Log.Test/YTS.Log.Test.csproj
src/YTS.Logic/YTS.Logic.csproj
src/YTS.Logic.Test/YTS.Logic.Test.csproj
src/YTS.WEBAPI/YTS.WEBAPI.csproj
src/YTS.WEBAPI.CaseTest/YTS.WEBAPI.CaseTest.csproj
