body {
    background: url('../Image/ActivityPrize/pic1.png') no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Box {
    width: 100%;
    height: 100%;
    text-align: center;
}

.title_div p {
    margin-top: 30px;
    font-size: 23px;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    text-align: center;
}

.img_Trophy {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    z-index: 100;
}

.content {
    width: 310px;
    height: 295px;
    background: #ffffff;
    position: relative;
    margin: -50px auto 0px;
    padding-top: 35px;
    border-radius: 11px 11px 11px 11px;
    z-index: -1;
}

.btn_Back {
    width: 310px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    background: -webkit-linear-gradient(left, #ffe641, #ff2769); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ffe641, #ff2769); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ffe641, #ff2769); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ffe641, #ff2769); /* 标准的语法（必须放在最后） */
}

.btn_Submit {
    width: 210px;
    height: 45px;
    margin: auto;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    background: -webkit-linear-gradient(left, #ffe641, #ff2769); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ffe641, #ff2769); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ffe641, #ff2769); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ffe641, #ff2769); /* 标准的语法（必须放在最后） */
}

.btn_Back p {
    font-size: 20px;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    padding-top: 10px;
}

.btn_Submit p {
    font-size: 18px;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    padding-top: 8px;
}

.img_content {
    width: 220px;
    height: 160px;
    margin: auto;
}

.content {
    text-align: center;
}

.txt {
    font-size: 18px;
    color: #fe3d61;
    text-align: center;
}

.txt2 {
    font-size: 18px;
    color: #fe3d61;
    text-align: center;
}

#fade {
    background-color: gray;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index: 3;
    filter: alpha(opacity=80);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

#light {
    background-color: #fff;
    height: 380px;
    left: 50%;
    margin: -50px 0 0 -140px;
    padding: 10px;
    position: fixed !important; /* 浮动对话框 */
    position: absolute;
    top: 20%;
    width: 260px;
    z-index: 5;
    border-radius: 10px;
    display: none;
    text-align: center;
}

.btn_close {
    width: 50px;
    margin: 60px auto 0;
}

#light input {
    width: 200px;
    margin: 6px auto 6px;
    height: 30px;
    border-radius: 20px;
    padding: 3px 3px 3px 10px;
    border-style: solid;
    border-color: #d8d8d8;
}

#light h3 {
    text-align: center;
}

.submit_info {
    text-align: center;
    width: 180px;
    margin: 5px auto 0;
}

    .submit_info p {
        color: #ff2769;
    }

.p_3q {
    color: #ff2769;
}
